<tr class='animated fadeInLeft' {{bind-attr data-user-id='user.id'}}>
  <td>
    <img {{bind-attr src='user.picture'}}></img>
    <p class='fullname'>{{fullname}}</p>
  </td>
  <td>
    <p class='score fadeInDown'>
      {{score}}
    </p>
  </td>
</tr>
