<tr class='animated fadeInLeft'>
  <td>
    <img {{bind-attr src='user.picture'}}></img>
    <p class='fullname'>{{fullname}}</p>
  </td>
  <td>
    <p class='score'>
      {{score}}
    </p>
  </td>
</tr>
