<button type='button' class='btn btn-info btn-lg btn-block' {{action 'fakeUserJoin'}}>Pusher an user through API</button>
<button type='button' class='btn btn-danger btn-lg btn-block' {{action 'startQuiz'}} {{bind-attr disabled=room.buttonCheckOnlinePlayers}}>Start Quiz</button>
